<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd93.dao.RlbDetailsDao">

    <!-- 用户登录验证 -->
    <select id="getRlbDetails" parameterType="String" resultType="com.yd93.model.RlbDetails">
        SELECT *
        FROM RLB_DETAILS
        WHERE UNIT_NAME=#{name}
    </select>
</mapper>
